<span class="block-selectors">
    <button
        *ngFor="let type of blockTypeButtonsData"
        [style.color]="whatObject.name === type.name ? type.color : undefined"
        [id]="type.name"
        (click)="changeBlock($event)"
    >
        {{ type.name }}
    </button>
</span>
<button [class.isActive]="isMovingTreasureChest" (click)="moveTC()">
    Move Treasure Chest
</button>
<ng-container *ngFor="let block of blocks">
    <div
        (mousedown)="addNewItem($event)"
        (mouseUpData)="
            isMovingTreasureChest
                ? block.img === blockTypesData['treasureChest'].img
                    ? updateTreasureChestPos($event)
                    : putBackInChest($event, block.id)
                : putBackInChest($event, block.id)
        "
        [style.zIndex]="
            block.img === blockTypesData['treasureChest'].img ? '-1' : undefined
        "
        [style.left.px]="block.left"
        [style.top.px]="block.top"
        [id]="block.id"
        class="treasure-chest"
        [ngClass]="block.class"
        draggable
    >
        <img
            [id]="block.id"
            [ngClass]="{
                bounce:
                    animateTreasureChest &&
                    block.img === blockTypesData['treasureChest'].img,
            }"
            *ngIf="block.img"
            ondragstart="return false"
            src="assets/{{ block.img }}"
        />
    </div>
</ng-container>
