.treasure-chest {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 5rem;

    img {
        height: 5rem;
        width: 5rem;
        transform: scale(1.2);
        user-select: none;
    }
}

.isActive {
    background-color: black;
    color: white;
}

.orange-block {
    background-color: coral;
    height: 5rem;
    width: 5rem;
}

.blue-ball {
    background-color: dodgerblue;
    height: 5rem;
    width: 5rem;
    border-radius: 5rem;
}

.green-triangle {
    width: 0rem;
    height: 0rem;
    border: 2.5rem solid transparent;
    border-top: none;
    border-bottom: 5rem solid rgb(13, 181, 13);
}

@keyframes bounce {
    25% {
        scale: .9;
    }

    50% {
        scale: 1.1;
    }

    75% {
        scale: .95;
    }
    
    90% {
        scale: 1.05;
    }
}

.bounce {
    animation: bounce .35s;
}

.block-selectors {
    position: absolute;
    bottom: 3rem;
    left: 3rem;
}